.horizontal-collapse {
    height: 70px;
}


/*html, body {
    background-color: #10A148;
    color: white;
}*/
html{background-image:url(../img/ignasi.png)}
body{ background-color:transparent;}

.navbar-collapse.in {
    overflow-y: hidden;
}

/*.pager li > a, .pager li > span, .pager li > a:focus, .pager li > a:hover, .pager li > a:focus, .pager li > a:active, .pager li > a:focus, .pager li > a:focus {
    border-radius: 0;
    background-color: #273075;
    border-color: #273075;
    color: white;
    font-size: 2em;
}*/

.comic-buttons{
    top:50%;
    border-radius:100% !important;
    position:relative;
    border:none
}

.header
{


}

.gradient{
    background: -moz-linear-gradient(top, rgba(0,0,0,.5) 0%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, rgba(0,0,0,.5) 0%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, rgba(0,0,0,.5) 0%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

}
h1,h2
{
    font-family:Play;
    color:white;
    font-variant:small-caps;
   letter-spacing:-1px;
   
}


h3
{
     font-family:Play;
}

h1{
     letter-spacing:-3px;
}

.comic-area {
   
    height: calc(100vh - 200px);
}


.comic {
 
    background-image:url(../comics/hooty/1/0.png);
      height: calc(100vh - 200px);
      background-size:contain;
      background-repeat:no-repeat;
      background-position:center;
      -webkit-transition: background-image 0.2s ease-in-out;
transition: background-image 0.2s ease-in-out;
   
}

.black-text, .black-text:hover, .black-text:focus, .black-text:active
{
    color:black
}

.white-text, .white-text:hover, .white-text:focus, .white-text:active
{
    color:white
}

.navbar-brand {
   
    padding: 30px 15px;
  
  
}
.pointer{
    cursor:pointer
}

.thumbnail { transition: all .2s ease-in-out; border:none }
.thumbnail:hover { transform: scale(1.01); }


.navbar-brand h2{
      letter-spacing:-1px;
    font-weight:700 !important
}

.pager .disabled > a, .pager .disabled > a:focus, .pager .disabled > a:hover, .pager .disabled > span {
    border-radius: 0;
    background-color: #E27A3F;
    border-color: #E27A3F;
    color: white;
    opacity: .5;
}

.navbar {
    border-radius: 0;
    font-family: 'Play';
    border: none;
    background-color: #fff;
    margin-bottom: 0;
}

.modal-dialog{
      box-shadow:none
}

.modal-content {
    position: relative;
    background-color: black;
    box-shadow:none

}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
    color: #fff;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a {
    color: #f7f7f7;
}

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
    border: none;
}

.btn, .navbar-toggle {
    border-radius: 0;
    color: #f7f7f7;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #fff;
}


.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle {
    background-color: #45B29D;
    border-color: #45B29D;
}

    .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
        background-color: #45B29D;
    }


    html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  text-align:center;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  color: #f5f5f5;
}


.modal-header{
    padding:0;
    border:none
}
.carousel-indicators li
{
    height:10px;
    width:10px;
    border-radius:100%;
}


.carousel-caption {

    background:rgba(0,0,0,.5);
    padding-top:8px;
    bottom:-35px !important
}

.carousel-indicators {

    bottom:-75px
}
.carousel-indicators .active
{
    height:11px;
    width:11px
}

.modal-dialog {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.modal-content {
  height: auto;
  min-height: 100%;
  border-radius: 0;
}