<div class="row" ng-show="name=='ivan'">

    <div class="col-sm-4">
        <div class="thumbnail">
            <img src="creators/ivan-tall.jpg" />
            
       
        </div>
    </div>

    <div class="col-sm-8 white-text text-left">

        <h3 class="white-text">Ivan Fortenberry</h3>

       <p> Ivan is a seven year old boy who is the leader of Ultra Comics Club and creator of <a href="#" class="white-text" ng-click="comicMode='hooty'">Hooty</a>  and Volt Ninja.</p>
       
       
    </div>
</div>

<div class="row">
   
    <div class="col-xs-12 text-center">
        <a class="white-text btn btn-primary" href="#" ng-click="creatorMode='main'">Creators Menu</a>

    </div>

</div>