<h2 ng-show="title=='hooty'" class="text-left">HOOTY</h2>


<div class="row" ng-show="title=='hooty'">
    <div class="col-sm-3">
        <a href="#" ng-click="loadComic('hooty',1)">
            <div class="thumbnail">

                <img src="comics/hooty/1/thumb.jpg" />
                <div class="caption">


                    <h3 class="list-group-item-heading">Adventures of Hooty</h3>
                    <h4>Issue 1 </h4>
                </div>
            </div>

        </a>

    </div>
    <div class="col-sm-3">
        <a href="#" ng-click="loadComic('hooty',2)">
            <div class="thumbnail">

                <img src="comics/hooty/2/thumb.jpg" />
                <div class="caption">


                    <h3 class="list-group-item-heading">Revenge of Evil Hoot</h3>
                    <h4>Issue 2 </h4>
                </div>
            </div>
        </a>

    </div>
    <div class="col-sm-3">
        <a href="#" ng-click="loadComic('hooty',3)">
            <div class="thumbnail">

                <img src="comics/hooty/3/thumb.jpg" />
                <div class="caption">


                    <h3 class="list-group-item-heading">The Owl Knight</h3>
                    <h4>Issue 3</h4>
                </div>
            </div>
        </a>
    </div>
    <div class="col-sm-3">
        <a href="#" ng-click="loadComic('hooty',4)">
            <div class="thumbnail">

                <img src="comics/hooty/4/thumb.jpg" />
                <div class="caption">


                    <h3 class="list-group-item-heading">A New Rival</h3>
                    <h4>Issue 4 </h4>
                    <span class="badge" style="background-color:{{badgeColor}}"> New</span>
                </div>
            </div>
        </a>

    </div>

</div>