<div class="modal-header">
    <button class="btn btn-link pull-right white-text" type="button" ng-click="close()">
        <i class="material-icons" style="font-size:2em">close</i>
    </button>
</div>
<div class="modal-body" id="modal-body">
   
    <div style="height: 85vh" ng-if="title == 'hooty' && issue == 1">
        <div uib-carousel data-keyboard="true" active="active" interval="myInterval" no-wrap="noWrapSlides">
            <div uib-slide ng-repeat="slide in slidesHooty1 track by slide.id" index="slide.id">
                <div style="background-image:url({{slide.image}}); height:75vh; background-size:contain; background-position:center; background-repeat:no-repeat; background-color:black"></div>
                <div class="carousel-caption">
                    <p>{{slide.text}}</p>
                </div>
            </div>
        </div>

    </div>

    <div style="height: 85vh" ng-if="title == 'hooty' && issue == 2">
        <div uib-carousel data-keyboard="true" active="active" interval="myInterval" no-wrap="noWrapSlides">
            <div uib-slide ng-repeat="slide in slidesHooty2 track by slide.id" index="slide.id">
                <div style="background-image:url({{slide.image}}); height:75vh; background-size:contain; background-position:center; background-repeat:no-repeat; background-color:black"></div>
                <div class="carousel-caption">
                    <p>{{slide.text}}</p>
                </div>
            </div>
        </div>

    </div>

    <div style="height: 85vh" ng-if="title == 'hooty' && issue == 3">
        <div uib-carousel data-keyboard="true" active="active" interval="myInterval" no-wrap="noWrapSlides">
            <div uib-slide ng-repeat="slide in slidesHooty3 track by slide.id" index="slide.id">
                <div style="background-image:url({{slide.image}}); height:75vh; background-size:contain; background-position:center; background-repeat:no-repeat; background-color:black"></div>
                <div class="carousel-caption">
                    <p>{{slide.text}}</p>
                </div>
            </div>
        </div>

    </div>

    <div style="height: 85vh" ng-if="title == 'hooty' && issue == 4">
        <div uib-carousel data-keyboard="true" active="active" interval="myInterval" no-wrap="noWrapSlides">
            <div uib-slide ng-repeat="slide in slidesHooty4 track by slide.id" index="slide.id">
                <div style="background-image:url({{slide.image}}); height:75vh; background-size:contain; background-position:center; background-repeat:no-repeat; background-color:black"></div>
                <div class="carousel-caption">
                    <p>{{slide.text}}</p>
                </div>
            </div>
        </div>

    </div>

</div>

